# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Large Raw Data files (download instructions in README)
data/*.feather
data/*.tsv
data/*.csv
!data/.gitkeep

# System files
.DS_Store
.idea/
.vscode/
